<app-header [myData1]="firsttagline" [myData2]="secondtagline" [myData3]="thirdtagline"></app-header>
<div class="heading py-4">
  <h2 class="text-center">About Us</h2>
</div>

<div class="container">
  <div class="pb-4">

    <h4 class="main_para">What shreenik creators does?</h4>
    <p class="paragraph">Shreenik Creators is a dynamic creative agency specializing in both the art of storytelling
      and strategic marketing. As a writer and director, we craft compelling narratives for feature films, web series,
      short films, ad films, and album songs that resonate with audiences across platforms. Alongside our creative
      expertise,
      we offer comprehensive marketing consulting, including radio promotions, ad in Spotify, ad in hot star,
      hoarding advertising, PR strategies, theater branding, ground promotions, and social media campaigns.
      At Shreenik Creators, we blend creativity with innovation to help brands and stories reach their fullest
      potential.</p>
  </div>



  <div class="cardcontainer">
    <div class="card mb-4 " style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
          <img src="./assets/miral.jfif" class="img-fluid rounded-start" height="254px" width="254px" alt="...">
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="card-body">
            <h5 class="card-title">Mr. Miral Shah</h5>
            <p class="card-text">Miral Shah is the visionary founder of Shreenik Creators, bringing a unique blend of
              storytelling and direction to the world of cinema and media. As a talented writer and director, Miral
              crafts compelling narratives across feature films, web series, short films, ad films, and music videos.
              With a keen eye for detail and a passion for captivating audiences, Miral is committed to creating
              impactful content that resonates emotionally and creatively. His leadership at Shreenik Creators drives
              both artistic innovation and strategic marketing solutions, ensuring every project not only tells a story
              but also reaches its intended audience in the most effective way.</p>
            <p class="card-text"><small class="text-muted"> <span><i class="fas fa-mobile-alt"
                    style="color: #f7327a; font-size: 1.3rem;"> </i></span>+91 88495-99389 </small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card pb-4" style="max-width: 100%;">
      <div class="row g-0">
        <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center" >
          <img src="./assets/vishal.jfif" class="img-fluid rounded-start" height="254px" width="254px" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Mr. Vishal Bhatt</h5>
            <p class="card-text">Mr.Vishal is amongst the leading financial advisors for many companies. Member of
              MDRT.(Million Dollar Round Table - U.S) with a wide range of experience of more than 20 years in Business
              Development, Brand Endorsement and Strategic Planning has made a mark in Entertainment Industry with some
              quality products under his belt.</p>
            <p class="card-text"> <span><i class="fas fa-mobile-alt"></i></span>9408485145</p>
          </div>
        </div>
      </div>
    </div> -->

  </div>